.sahel-font{
    font-family: 'Sahel';
    font-weight: 400;
}
.baner-bg{
    background-color: #f7faff;
}

/* catetgory */
.card-shadow{
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: all 0.5s;
}

.card-shadow:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.img{
    padding: 10px;
    text-align: center;
    background-size: cover;
    object-fit: contain;
    width: 250px;
    height: 250px;
}
/* product */
.product-card{
border: none;
}

.product-card:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.product-card ul{
    display: inline-block;
}

.product-card ul li{
    display: inline-block;
    color: #FFBF00;
}
.product-card img{
    padding: 10px;
    text-align: center;
    background-size: cover;
    object-fit: contain;
    width: auto;
    height: 200px;    
}
/* footer */
.footer{
    min-height: 200px;
}
.footer ul{
    display: inline;
    list-style-type: none;
    align-items: start;
}
.footer ul li{
    display: inline-block;
    margin-right: 3px;
}
/* form */

.register-form form input{
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: all 0.4s;
   
}
.register-form form input:focus{
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.register-form-img{
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.register-form-img:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    }
.btn-form-register{
    background-color: #6f42c1;
    border: none;
    transform: all 0.4s;
}

.btn-form-register:hover{
    background-color: #6610f2;
    border: none;
}

